$background-color: #FFFFFF;
$dark-background-color: #121212;

$list-background-color-even: rgba(0,0,0,.05);
$dark-list-background-color-even: rgba(255, 255, 255, 0.25);

//primary color
$primary-color: #1499D6;
//secondary color

//font-color

$body-text-color: #323232;
$dark-body-text-color: #E6E6EA;

//border-color

$border-color: #C5C5C5;
$black-50: #808080;
$black-25: #BFBFBF;

//color-gray

$color-gray: #9b9b9b;